body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
}
nav.navbar {
    justify-content: space-between;
    align-items: center;
}

.navbar .navbar-menu .navbar-item {
    display: flex;
    padding: 8px 0px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--secondary);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: color 0.15s ease-in-out;
}

.articleHead {
    max-width: 626px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    padding-top: 20px;
    align-self: stretch;
    height: 50px;
}

header .container{
    height: 100px;
    padding: 0 0px;
}

.container {
    display: flex;
    width: 1440px;
    padding: 75px 12px;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: rgb(121, 75, 75);
    font-size: 34px;
    font-weight: bold;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-list li {
    margin-right: 40px;
}

.nav-list a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(44, 36, 36);
    font-weight: semi-bold;
}

.toggle-button {
    font-size: 24px;
    color: rgb(39, 39, 39);
    cursor: pointer;
    display: none;
}

.content {
    padding: 20px;
}

.container{
    max-width: 1400px;
    margin: 0 auto;

}

@media screen and (max-width: 768px) {
    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
    }

    .nav-list.show {
        display: flex;
    }

    .nav-list li {
        margin: 0;
        text-align: center;
    }

    .toggle-button {
        display: block;
    }
}