body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-right: 10px;
    padding-right: 10px;
}

.logo {
    color: rgb(121, 75, 75);
    font-size: 24px;
    font-weight: bold;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list a {
    text-decoration: none;
    color: rgb(44, 36, 36);
    font-weight: bold;
}

.toggle-button {
    font-size: 24px;
    color: white;
    cursor: pointer;
    display: none;
}

.content {
    padding: 20px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;

}

@media screen and (max-width: 768px) {
    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
    }

    .nav-list.show {
        display: flex;
    }

    .nav-list li {
        margin: 0;
        text-align: center;
    }

    .toggle-button {
        display: block;
    }
}