@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


:root {
    --bs-body-font-family: 'Quicksand', sans-serif;
    --primary: #fe7b2a;
    --secondary: #4A2708;
    --bg-color: #FFFCFA;
    --yellow: #FBBC0B;
    --bg-color-secondary: #fff7f0;
}

.modegelap{
    --bg-color: #282a36;
    --second: #fff;
    --third: white;
    --navbar: #44475a;
    --fonts: whitesmoke;
    --jdul: #bd93f9;
    --warna1: whitesmoke;
    --four: #f8f8f2;
    --topbtn: whitesmoke;
    --csr: whitesmoke;
}


* {
    font-family: var(--bs-body-font-family);
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: transparent;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
}

/* Navbar */
.container {
    display: flex;
    max-width: 1440px;
    padding: 75px 12px;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
    align-items: center;
}

header .container{
    padding: 0 12px;
    width: 1440px;
}

nav.navbar {
    justify-content: space-between;
    align-items: center;
    display: flex;

}


.navbar .navbar-menu {
    display: flex;
    gap: 32px;
    list-style: none;
}

.navbar .navbar-menu .navbar-item {
    display: flex;
    padding: 8px 0px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--secondary);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: color 0.15s ease-in-out;
}

.navbar .navbar-menu .navbar-item:hover{
    display: flex;
    padding: 8px 0px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--primary);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: color 0.15s ease-in-out;
}

.articleHead {
    max-width: 626px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.articleHead p {
    font-size: 60px;
    font-family: Poppins, sans-serif;
}

header{
    display: flex;
    padding: 12px 0px;
    align-items: center;
    border-bottom: 2px solid var(--primary);
    background-color: var(--bg-color);
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

#icon{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#page-top .container img {
    width: 500px;
    object-fit: cover;
}

section .container img {
    width: 448px;
    object-fit: cover;
}

#about,
#page-top,
#service,
#kontak {
    padding-top: 86px;
}

.header {
    color: #4A2708;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 72px;
    letter-spacing: 2px;
}

.button {
    text-decoration: none;
    color: var(--bg-color);
    background-color: var(--primary);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    display: inline-block;
    padding: 8px 24px;
    align-items: center;
    border-radius: 42px;
    transition: border-color 0.15s ease-in-out, color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}


.logo {
    color: rgb(121, 75, 75);
    font-size: 43px;
    font-weight: bold;
    font-family: Spectral SC;
}

.logo span{
    color: #FC6736;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-list li {
    margin-right: 40px;
    font-family: poppins;
    font-weight: 600;
    justify-content: center;
    margin-top: 10px;
}

.nav-list a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(44, 36, 36);
    font-weight: semi-bold;
    display: inline-block;
}

.nav-list a:hover {
    text-decoration: none;
    font-size: 20px;
    color: #FC6736;
    font-weight: semi-bold;
}

.nav-list a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid #000000;
    transform: scaleX(0);
    transition: 0.2s linear;
}

.nav-list a:hover::after {
    transform: scaleX(0.6);
}

.toggle-button {
    font-size: 24px;
    color: rgb(39, 39, 39);
    cursor: pointer;
    display: none;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: black;
    border-radius: 15px;
    margin: 6px;
    transition: .1s;
}

.toggle-button .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.toggle-button .bar2 {
    opacity: 0;
}

.toggle-button .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.content {
    padding: 20px;
}


i {
    background-color: transparent;
}


/* about section */
.articleAbout {
    max-width: 626px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.about {
    color: #4A2708;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    font-family: Poppins;
}
.articleAbout h1{
    font-family: Poppins;
}

/* section fitur */
.sectionTitle{
    display: flex;
    font-size: 22px;
}

.box{
    display: column;
    flex-direction: column;
}

.service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

.service h1{
    font-family: Poppins;
    align-items: center;
    justify-content: center;
}

.serviceAnter{
    display: flex;
    width: 100%;
    padding-top: 20px;
    align-items: center;
    justify-content: space-between;
}

.service-icon img{
    width: 448px;
}

/* Kontak section */

.section-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

.section-body {
    display: flex;
    justify-content: center;
    gap: 124px;
    align-self: stretch;
    margin-bottom: 40px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    flex: 1;
    max-width: 400px;
    max-height: 500px;
  }

  h2 {
    color: #333;
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  label {
    margin-bottom: 8px;
    color: #333;
  }

  input, textarea {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }
  
  #map {
    height: 200px;
    border-radius: 10px;
  }

  .info {
    margin-top: 20px;
  }

  .info p {
    margin-bottom: 8px;
    color: #333;
  }

/* untuk footer */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    padding: 24px 0px;
    background-color: var(--bg-color-secondary);
}

@media screen and (max-width: 1440px) {
    /* ini untuk semua container */
    .container {
        width: 1024px;
    }
    /* untuk container about */
    section#about .container {
        gap: 64px;
    }
    /* untuk ukuran gambar pada section pagetop */
    #page-top .container img,
    section .container img,
    .imgHeader {
        width: 392px;
    }
    /* untuk ukuran font pada section pagetop */
    .articleHead p {
        font-size: 50px;
        font-family: Poppins, sans-serif;
    }
    .articleHead h1 {
        font-size: 500px;
    }
    /* untuk ukuran font pada section layanan */
    .service-icon img{
        width: 296px !important;
    }
    .sectionTitle .fw-bold{
        font-size: 30px;
    }

    /* navbar */
    header .container {
        max-width: 1024px;
    }

    /* untuk kontak section */
    .section-body {
        display: flex;
        justify-content: center;
        gap: 24px;
        align-self: stretch;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 1024px) {
    /* ini untuk semua container */
    .container {
        width: 824px;
    }
    /* untuk container about */
    section#about .container {
        gap: 34px;
    }
    /* untuk ukuran gambar pada section pagetop */
    #page-top .container img,
    section .container img,
    .imgHeader {
        width: 236px;
    }
    /* untuk ukuran font pada section pagetop */
    .articleHead p {
        font-size: 35px;
        font-family: Poppins, sans-serif;
    }
    .articleAbout p {
        font-size: 16px;
    }
    /* untuk ukuran font pada section layanan */
    .service-icon img{
        width: 240px !important;
    }

    /* navbar */
    header .container {
        max-width: 824px;
    }
}

@media screen and (max-width: 768px) {
    .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fffcfb;
        z-index: -1;
        margin-top: 2px;
        box-shadow: 0px 2px 12px 0px #dadada;
        gap: 8px;
        transition: 0.3s;
    }

    .service-icon img{
        width: 248px !important;
    }

    .nav-list.show {
        display: flex;
    }

    .nav-list li {
        display: flex;
        padding: 8px 0px;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: var(--secondary);
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        transition: color 0.15s ease-in-out;
        
    }

    header .container{
        max-width: 658px;
    }

    .service-icon img{
        width: 258px !important;
    }

    .serviceAnter{
        
        flex-direction: column;
    }

    .toggle-button {
        display: block;
        margin-right: 10px;
        font-size: 30px;
    }

    #page-top .container,
    #about .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 32px;
        text-align: center;
    }

    /* untuk ukuran font pada section pagetop */
    .articleHead p {
        font-size: 35px;
        font-family: Poppins, sans-serif;
    }
    .articleHead {
        align-items: center;
    }

    /* untuk kontak form */
    .card {
        max-width: 100%;
    }

    /* untuk hp */
    .section-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 24px;
        align-self: stretch;
        margin-bottom: 40px;
    }

    .section-kontak{
        width: 824px;
    }
}

@media screen and (max-width: 450px) {
    header .container {
        max-width: 420px;
    }
}
